*{
margin:0px;
padding:0px;
}


a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	
	
}


a:hover, a:active {
    background-color: red;
   
}